body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color:  #FAFAD2;
  }
  
  .logo {
    text-align: center;
    padding-top:30px;
  }
  
  .active{
  background-color:#04AA6D;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index:10;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
   }
  
.games{
    overflow: hidden;
    float: center;
    width:100%
}  
.error{
    color: red;
}

footer{
    margin-top:4%;
    text-align:center;
      overflow: hidden;
      width:100%;
      height:8%;
      color: white;
      background-color: #333;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.submit{
  border: none;
  border-radius: 6px;
  color: white;
  background-color: green;
  text-align: center;
  padding: 4%;
  font-size: 16px;
  cursor: pointer;
}

.back-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover{
  box-shadow: 1px 1px 4px #333;
}
