body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #fafad2;
}

.logo {
  text-align: center;
  padding-top:30px;
}

.active {
  background-color: #04aa6d;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 10;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-intro{
  margin: 5%;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.games {
  /* overflow: hidden;
  float: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.game-box {
  display: flex;
  flex-direction: column;
  /* width: 300px;
  height: 300px; */
  justify-content: flex-end;
  align-items: center;
  /* flex: 1 0 21%; */
  margin: 5px;
  text-align: center;
}

/* .gtg {
  width: 14%;
  margin-left: 5%;
  margin-top: 7%;
  z-index: 1;
  position: relative;
  float: left;
  text-align: right;
  display: inline-block;
}

.rps {
  width: 15%;
  z-index: 2;
  margin-left: 10%;
  margin-top: 5%;
  text-align: right;
  display: inline-block;
}

.tic {
  width: 12%;
  z-index: 3;
  margin-left: 10%;
  margin-top: 7%;
  position: relative;
  text-align: right;
  display: inline-block;
}

.blackjack {
  width: 12%;
  z-index: 4;
  margin-left: 12%;
  margin-top: 5%;
  position: relative;
  text-align: center;
  display: inline-block;
} */

footer {
  margin-top: 4%;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 8%;
  color: white;
  background-color: #333;
}
