body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  background-color:  #FAFAD2;
} 

.logo { 
  text-align: center;
  padding-top:30px;
}

.active{
background-color:#04AA6D;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color:#04AA6D;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index:10;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
 }



 .instruction{
  background-color: antiquewhite;
  border:4px solid #000; 
  padding: 10px;
    width:97%;
    height:380px;
    margin: 1%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 110%;
 }

 .lines{
  font-size: 110%;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
 }

  .field{
    text-align: center;
    padding:1%;
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .button{
    text-align: center;
  }



h3{
  color: #000;
}

h2{
  color:red;
}

.images{
  width:100%;
  text-align: center;   
}

.heading{
  display: none;
  width:60%;
  height:10%;
  margin-left:12%;
}

.heading>h3{
font-family:cursive;
font-size: 30;
color:black;
}

.options{
   display:none;
   border:4px solid red; 
   width:50%;
  height:100%;  
  margin-left: 5%;
}

.options>img{
  margin:2%;
  margin-left:5%;
  }

.buttons{
  display: none;
  width:50%;
  text-align: center;

}

.buttons>button{
  float:right;
  margin:10%;
  margin-left:25%;
}

.hidden{
  display: none;
  border:4px solid red; 
  width:50%;
  height:100%;
  text-align: center;
  margin-left: 5%;
}

.hidden>img{
    margin:1%;
    padding:10px;
    margin-left:14%;
}


.score{   
  display:none;
  width:30%;
  height:70%;
  float:right;
  margin-right:5%;
  }
  

.resetbtn{
  display: none;
  width:100%;
  text-align: center;
  height:20%;  
}

button:hover:enabled{
  box-shadow: 1px 1px 4px #333;
}
.playa{  
  text-align: center;
  font-size: 16px;
  cursor: pointer;  
  border-radius: 4px;
  padding:6px;
}

.ng{
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding:6px;
  }

.img4{
  display: inherit;
}

.img5{
  display:inherit;
}

.replay{
  display:none;
  float:left;
  margin-left: 60%;
}

.start{

  padding: 0.5%;
  cursor: pointer;
  border-radius: 4px;
}

.backbtn{
  display: none;
  margin-top: 5%;
}

.bk{
  text-align: center;
  font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding:6px;
    margin-left: 1%;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:100%;
  height: 30%;
}

td,th{
  border:1px solid #000;
  text-align: center;
  padding:8px;
}

.replay{
  width:100%;
  float: center;
  margin-left: 10%;
}

footer{
margin-top:4%;
text-align:center;
  overflow: hidden;
  width:100%;
  height:8%;
  color: white;
  background-color: #333;
}
